@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

:root {
  --bg-color: #053314;
  --second-color: #064b10;
  --txt-color: #fff;
  --main-color: rgb(192, 223, 100);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: var(--txt-color);
}
body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.heading {
  padding: 20px;
  text-align: center;
  font-size: 3rem;
  background-color: aliceblue;
  width: 100%;
  background: var(--bg-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: left;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navoptions a {
  display: flex;
  color: #fff;
}
.navtitle {
  flex-grow: 1;
  text-align: center;
  font-size: 25px;
}

span {
  color: var(--main-color);
}
.addblog {
  color: azure;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  align-self: stretch;
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
  color: white;
  text-shadow: #07421a;
  text-shadow: 0 0 5px rgb(192, 223, 100);
}

.services-box h3:hover {
  font-size: 2.6rem;
  text-shadow: #07421a;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Inter", sans-serif;
  padding: 30px;
}

.fcard {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  position: relative;
  /* width: 290px; */
  max-width: 290px;
  max-height: 500px;
  background: linear-gradient(90deg, rgb(31, 102, 31), rgb(231, 231, 121));
  background: -webkit-linear-gradient(
    90deg,
    rgb(31, 102, 31),
    rgb(231, 231, 121)
  );
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 30px;
  align-self: stretch;
  flex: 1 1 21%;
  opacity: 1;
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.fcard-content {
  padding: 10px;
  padding-bottom: 5px;
}

.fcard:hover {
  box-shadow: 2px 2px 10px rgba(185, 185, 106, 0.8);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.article h2 {
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 1.5px 1px green;
  text-align: left;
}

.article p {
  font-size: 12px;
  color: rgb(255, 255, 199);
}

.agrblg {
  height: 290px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: drop-shadow(0px 2px 2px #133813aa);
}

.article {
  padding: 22px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

.day {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  padding: 0;
}

.day ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.date {
  margin-right: 5px;
  text-align: left;
  padding-right: 30px;
}

.time {
  text-align: left;
  padding-right: 20px;
  align-self: flex-end;
}

.day p {
  color: rgb(230, 226, 226);
}

.pos {
  position: relative;
}

/* search bar*/
.search {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#search-icon {
  width: 45px;
  border-radius: 6px;
}
#search-icon:hover {
  cursor: pointer;
}
.search-bar {
  margin: 10px;
  padding: 5px;
  width: 40%;
  height: 40px;
  /* border-radius: 10px; */
}
.hide {
  display: none;
}
