@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("signin-registration images/bgpic.jpg");
  background-position: center;
  background-size: cover;
}
.navoptions a {
  display: flex;
  color: #fff;
}
.navtitle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  font-size: 25px;
}
:root {
  --bg-color: #053314;
  --second-color: #064b10;
  --txt-color: #fff;
  --main-color: rgb(192, 223, 100);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: var(--txt-color);
}
::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e4b16; 
   
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;    
  border-radius: 10px;   
  
}

::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
  
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.heading {
  padding: 19px;
  text-align: center;
  font-size: 3rem;
  background-color: aliceblue;
  width: 100%;
  background: var(--bg-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: left;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navtitle img.favicon-img {
  margin-right: 9px;
  width: 50px; 
  height: 50px; 
  margin-left: 110px;
}

.navtitle h2 {
  margin-left: 0.1px; 
}
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  color: #fff;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

