
.ripple {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 40%;
    background: linear-gradient(45deg, #1bc16060, #0bd21544);
    box-shadow: 2px 2px #27460748;
    pointer-events: none;
    transform: scale(1);
    z-index: 1000;
    transition: transform 1.2s, opacity 1s;
    opacity: 1;
}

.ripple-active {
    transform: scale(0);
    opacity: 0;
}