/* Importing Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

/* Root Variables */
:root {
  --bg-color: #053314;
  --second-color: #064b10;
  --txt-color: #fff;
  --main-color: rgb(192, 223, 100);
}

/* Base Styling */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0.8;
}

.header.sticky {
  border-bottom: 0.1rem solid rgb(252, 187, 223);
}

.header img {
  height: 6rem;
  margin-right: 2rem;
}

.logo {
  font-size: 2.5rem;
  color: var(--txt-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 2rem;
  color: var(--txt-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover, .navbar a.active, .navbar a.active:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--txt-color);
  display: none;
}

/* Home Section */
.home {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.slider {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

.slide_viewer {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 500%;
  transition: left 0.5s ease;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 20%;
  background-size: cover;
}

.home-content {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 25%;
  background: rgba(0, 42, 0, 0.441);
  border-radius: 50px;
  padding: 3vmax;
  filter: blur(0.8px);
  width: 55%;
  height: 25vmax;
  font-size: 4vmax;
}

.home-content h3 {
  font-size: 4.2rem;
  font-weight: 700;
}

span {
  color: var(--main-color);
}

.home-img {
  width: 45%;
  height: 30vmax;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn, .btn2, .btn-cv-res {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-bottom: 15px;
}

.btn:hover, .btn2:hover, .btn-cv-res:hover {
  box-shadow: none;
}

.email-link {
  position: relative;
  display: inline-block;
}

.email-link::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.email-link:hover::after {
  opacity: 1;
  visibility: visible;
}

/* About Section */
.about {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.background-video {
  filter: contrast(1.5) brightness(1.4);
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-content {
  color: white;
  text-align: left;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.about-content .heading {
  text-align: center;
  font-size: 9rem;
}

.about-content .heading span {
  font-size: 7rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.9rem;
  line-height: 1.6;
  margin: 2rem 0 3rem;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Services Section */
.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 7px;
  align-self: stretch;
  flex-basis: 100%;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  align-self: stretch;
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.services-box h3 {
  font-size: 2.5rem;
  color: var(--txt-color);
  margin-bottom: 1rem;
}

.services-box p {
  font-size: 1.7rem;
  color: var(--txt-color);
  line-height: 1.5;
}

.services-container .services-box:hover {
  background: var(--bg-color);
}

.services-container .services-box::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s ease;
}

.services-container .services-box:hover::before {
  top: 0;
  left: 0;
}

/* Contact Section */
.contact {
  background: var(--second-color);
  color: var(--txt-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 9%;
}

.contact .heading {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.contact .heading span {
  color: var(--main-color);
}

.contact-form {
  width: 100%;
  max-width: 600px;
}

.contact-form .input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.contact-form .input-box input, .contact-form .input-box textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--second-color);
  background-color: var(--txt-color);
}

.contact-form .input-box input::placeholder, .contact-form .input-box textarea::placeholder {
  color: var(--second-color);
}

.contact-form .btn2 {
  margin-top: 1.5rem;
}

/* Media Queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 10rem 5%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--second-color);
    border-top: 0.1rem solid var(--main-color);
    display: none;
    flex-direction: column;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
  }

  .home-content {
    left: 10%;
    top: 20%;
    width: 80%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }

  .home-content h1 {
    font-size: 4.2rem;
  }

  .home-content h3 {
    font-size: 3.2rem;
  }

  .about-content .heading {
    font-size: 7rem;
  }

  .about-content .heading span {
    font-size: 6rem;
  }
}

/* Keyframes */
@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
