body {
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-size: cover;
  }
  

.ripple {
    position: absolute;
    display: flex;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(76, 162, 100, 0.249) 20%, rgba(109, 210, 129, 0) 70%);
    box-shadow: 0 0 50px rgba(238, 240, 238, 0.163), 0 0 50px rgba(131, 184, 135, 0.161), 0 0 50px rgba(3, 194, 3, 0.16);
    transform: scale(0);
    animation: ripple-animation 3.5s ease-out;
    pointer-events: none;
  }
  
  @keyframes ripple-animation {
    0% {
      transform: scale(0);
      opacity: 0.7;
    }
    100% {
      transform: scale(10);
      opacity: 0;
    }
  }