@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 130%;
  background: url("../images/carousel-img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.7;
  animation: change 10s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-image: url(../images/carousel-img-1.jpg);
  }
  20% {
    background-image: url(../images/carousel-img-2.jpg);
  }
  40% {
    background-image: url(../images/carousel-img-3.jpg);
  }
  60% {
    background-image: url(../images/carousel-img-4.jpg);
  }
  80% {
    background-image: url(../images/carousel-img-5.jpg);
  }
  100% {
    background-image: url(../images/carousel-img-6.jpg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 490px;
  display: flex;
  justify-content: center;
}

.container p {
  font-size: 14px;
  color: black;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.container span {
  font-size: 12px;
  color: black;
}
.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #0e4b16;
  color: #fff;
  font-size: 12px;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.container h1 {
  color: black;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.forgot-password-form {
  left: 0;
  width: 50%;
  z-index: 1;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.active .sign-in {
  transform: translateX(100%);
}
.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}
/* .social-icons a:hover {
  font-size: 25px;
  background-color: #053314;
  color: #fff;
} */

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 20;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0px 150px 100px 0px;
}
.toggle {
  height: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2020/07/07/00/37/flower-5378781_1280.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.container.active .toggle {
  transform: translateX(50%);
}
.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}
.container.active .toggle-left {
  transform: translateX(0);
}
.toggle-right {
  right: 0;
  transform: translateX(0);
}
.container.active .toggle-right {
  transform: translateX(200%);
}
.footer {
  position: absolute;
  bottom: -70%;
  width: 100%;
}

.input-password {
  display: flex;
  width: 100%;
}

#toggle-signin-password {
  height: 40px;
  margin: 8px 8px 0 0;
}

#signup-password,
#signup-confirm-password {
  margin: 8px 0;
}

#toggle-signup-password,
#toggle-signup-confirm-password {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #666;
  margin-left: -50px;
}
.mail {
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 20%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}
.mail:hover {
  transform: scale(1.2);
}
.social-icons #ma:hover {
  background-color: #dd4b39;
  color: WHITE;
  height: 100%;
  width: 100%;
}
.social-icons #gi:hover {
  background-color: #181717;
  color: WHITE;
  height: 100%;
  width: 100%;
}
.social-icons #li:hover {
  background-color: #0077b5;
  color: WHITE;
  height: 100%;
  width: 100%;
}
.social-icons i {
  transition: transform 0.3s ease-in-out;
}
.mail:hover i {
  transform: scale(1.5);
}

@media (min-width: 1124px) {
  body {
    height: 100vh;
  }
  .container {
    margin-top: 5rem;
  }
  .footer {
    bottom: -73%;
  }
}

@media (min-width: 786px) and (max-width: 1123px) {
  body {
    height: 105vh;
  }
  .container {
    margin-top: 5rem;
  }

  .footer {
    bottom: -85%;
  }
}

@media (max-width: 785px) {
  body {
    height: 110vh;
  }
  .container {
    margin-top: 5rem;
  }
  .footer {
    bottom: -90%;
  }
}

@media (max-width: 388px) {
  body {
    height: 115vh;
  }
  .container {
    margin-top: 5rem;
  }
  .footer {
    bottom: -95%;
  }
}

.footer-grid {
  grid-template-columns: none !important;
}

@media (max-width: 768px) {
  .quick-links ul {
    flex-direction: column;
    gap: 10px;
  }
}

.success-banner {
  display: none;
  border-radius: 5px;
  margin-top: 15px;
  color: #000000;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 200px;
  border: 1px solid #004d0a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.success-banner p {
  margin: 0;
  padding: 5px;
  color: #000000;
}
#banner-text {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
