@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

:root {
  --bg-color: #053314;
  --second-color: #064b10;
  --txt-color: #fff;
  --main-color: rgb(192, 223, 100);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: var(--txt-color);
}
body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #064b10;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  color: none;
  background-color: none;
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 223, 100);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: all 0.8s;
}
.header.sticky {
  /* border-bottom: 0.1rem solid rgb(252, 187, 223); */
  opacity: 0.9;
  padding: 2rem 10% 2rem 5%; /* Adjusted padding to ensure space for the sign-in button */
  background-color: --main-color;
  box-shadow: 0 0 1.5px 2px rgb(14, 14, 14, 0.8);
}
.header img {
  height: 6rem;
  margin-right: 2rem;
}

nav {
  margin-right: 30px;
  display: flex;
}

.logo {
  font-size: 2.5rem;
  color: var(--txt-color);
  font-weight: 600;
  cursor: default;
}
.navbar a {
  /* position: relative; */
  font-size: 1.5rem;
  /* left: 118px; */
  color: var(--txt-color);
  margin-right: 4rem;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--main-color);
  animation: blink 1s infinite;
  transform: scale(1.1);
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}

@keyframes blink {
  0%,
  100% {
    color: var(--main-color);
  }
  50% {
    color: transparent;
  }
}

.navbar a:not(.active):hover {
  color: var(--main-color);
}

.navbar a.active,
.navbar a.active:hover {
  color: var(--main-color);
}
.navbar.active {
  display: block;
}
.navbar a {
  position: relative;
  font-size: 1.5rem;
  color: var(--txt-color);
  margin-right: 3.1rem;
  transition: 0.3s;
}

.navbar a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust height as needed */
  background-color: rgb(255, 255, 255); /* Change to the desired color */
  left: 0;
  bottom: -5px; /* Adjust position as needed */
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Adjust height as needed */
  background-color: rgb(255, 255, 255); /* Change to the desired color */
  left: 0;
  bottom: -5px; /* Adjust position as needed */
  transition: width 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}

.logoImg {
  width: 80px;
  height: auto; /* Use auto to maintain aspect ratio */
  max-width: 100%;

  margin-right: 5px; /* Adjust margin as needed */
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--txt-color);
  display: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

/*login/register button css starts*/
.login-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.4rem;
  color: var(--second-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  position: fixed;
  margin-top: -10px;
  margin-left: auto;
  cursor: pointer;
  transition: 5s;
}
.login-btn:hover {
  box-shadow: none;
}
/*login/register button css ends*/

.section-heading {
  margin-bottom: 1.7rem;
  transform: translateY(0px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}
.faq {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 0.5rem;
  font-size: 25px;
}

.faq_container {
  margin: 0 auto;
  background-image: url("../faq/image.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.faq_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex: 1 1 50%;
  padding: 20px;
}

.faq .image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq .image .faq-img {
  max-width: 60%;
  height: auto;
  object-fit: cover;
  animation: moveUpDown 1.5s infinite alternate;
}

@media screen and (max-width: 425px) {
  .faq .row {
    flex-direction: column;
  }

  .faq .image .faq-img {
    display: none;
  }

  .faq .accordion-container {
    flex: 1 1 100%;
    padding: 1rem;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.faq .accordion-container {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 426px) {
  .faq .accordion-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.faq .accordion {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.faq .accordion-header {
  display: flex;
  gap: 20px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #006a0969;
}

.faq .accordion-header:hover {
  background-color: #006a0969;
}

.faq .accordion-header span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq .accordion-header h3 {
  width: 100%;
  font-size: 1.8rem;
  align-content: center;
  color: #000;
  margin: 0;
}

.faq .accordion-body {
  display: none;
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #000;
  background-color: #006a091e;
  transition: color 0.3s ease;
}

.faq .accordion-header img {
  transition: transform 0.3s ease;
}

.faq .accordion.active .accordion-header img {
  transform: rotate(360deg);
}

.faq .accordion.active .accordion-body {
  display: block;
}

.faq .accordion-body:hover {
  color: #1a8342; /* Change text color on hover */
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

.table th,
.table td {
  text-align: center;
  padding: 25px 15px;
  border-bottom: 1px solid #b9b9b9;
}

.table th {
  color: #333;
}

.table i.uil {
  font-size: 20px;
}

.positive-attribute {
  color: #22cfb9;
}

.negative-attribute {
  color: #ff6347;
}

.faq_container {
  padding: 20px;
  padding-top: 7%;
}
.faq_heading {
  color: black;
  text-decoration: solid;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 2%;
  margin: 20px 0;
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  .faq_container {
    padding-top: 15%;
  }
}
@media screen and (max-width: 425px) {
  .faq_container {
    padding-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq_box {
    display: block;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  flex-direction: column;
  padding: 20px;
  background: #0e4b16;
  min-height: 25rem;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../images/istockphoto-1465642013-170667a.webp");
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  color: #fff;
}

.footer-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer p {
  font-size: 1.6rem;
}
.footerUpperPart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  min-height: 15rem;
  margin-top: 15px;
}

.footer-title {
  font-weight: 500;
  font-size: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-right {
  text-align: center;
}
.footer-title,
.footer-icons,
.footer-iconTop {
  text-align: center;
}
.socialIcons a:hover {
  transform: scale(1.3);
}
#backtoTop {
  position: fixed;
  bottom: 90px;
  right: 24px;
  height: 60px;
  width: 60px;
  background-color: #b19222;
  border-radius: 50%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
  transition: background-color 0.5s ease-in 0.3s;
}
#backtoTop a {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  padding: 1.2rem;
}
#backtoTop a:hover {
  background-color: #a48613;
}
#backtoTop a i {
  font-size: 36px;
  color: white;
}
.footer-iconTop a {
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
  display: inline-block;
  width: max-content;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-color);
}
.footer-text {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1350px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 3rem 3%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 3vmax 4vmax;
  }
  .section {
    padding: 10rem 3% 2rem;
  }
  .footer {
    padding: 2rem 3%;
  }
  .faq_box {
    display: block;
  }
}

@media (max-width: 1216px) {
  .logo {
    font-size: 2.6vmax;
  }
  #menu-icon {
    display: block;
    font-size: 5vmax;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 1%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    height: 470px;
  }

  .navbar :active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2.8vmax;
    margin: 3rem 0;
    margin-left: 8vmax;
  }
  .navbar a i {
    margin-right: 2vmax;
  }
  .navbar a.active {
    color: var(--main-color);
    font-size: 2.5vmax;
  }
  .navbar a {
    position: relative;
    font-size: 1.5rem;
    color: var(--txt-color);
    margin-right: 3.1rem;
    transition: 0.3s;
  }

  .navbar a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust height as needed */
    background-color: rgb(255, 255, 255); /* Change to the desired color */
    left: 0;
    bottom: -5px; /* Adjust position as needed */
  }

  .navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Adjust height as needed */
    background-color: rgb(255, 255, 255); /* Change to the desired color */
    left: 0;
    bottom: -5px; /* Adjust position as needed */
    transition: width 0.5s;
  }

  .navbar a:hover::after {
    width: 100%;
  }

  .slide_viewer {
    display: none;
  }
  .footer-left {
    margin-top: 0.8rem;
  }
}

@media (max-width: 617px) {
  .footerUpperPart {
    flex-direction: column-reverse;
  }
  .slide_viewer {
    display: block; /* Ensure the slide viewer is visible on smaller screens */
  }
  .faq_box {
    display: block;
  }
}

@media (max-width: 365px) {
  .footer {
    flex-direction: column;

    p {
      font-weight: bold;
    }
  }
  .footerUpperPart {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
.socialIcons {
  padding: 1.2rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.socialIcons i {
  color: var(--second-color);

  font-size: 22px;
  /* margin-left:25px;
   margin-right:25px; */

  font-size: 22px;
}
.socialIcons a {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  background: var(--main-color);
  border-radius: 100%;
  transition: 0.5s ease;
  margin: 15px;
}
.services-box a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent */
  cursor: pointer; /* Show pointer cursor on hover */
}

.services-box a:hover {
  text-decoration: underline; /* Add underline on hover if needed */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  color: none;
  background-color: none;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 223, 100);
}

.quick-links {
  text-align: center;
  width: 50vw;
  padding: 20px;
  p {
    font-weight: bold;
  }
}

.quick-links h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.quick-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quick-links li {
  margin-bottom: 8px;
}

.quick-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

/* .quick-links a:hover {
    color: #f0f0f0;
    text-decoration: underline;
  }
   */

.quick-links a:hover {
  color: #abf5c0; /* Change color on hover */
  /* text-decoration: underline; */
  animation: blink 1s step-start infinite;
  text-shadow: 0 0 5px currentColor;
}

@keyframes blink {
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      /* White glow */ 0 0 20px rgba(255, 0, 0, 0.7),
      /* Red glow */ 0 0 30px rgba(255, 0, 255, 0.6); /* Pink glow */
  }
  100% {
    text-shadow: none;
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
  .socialIcons {
    gap: 0;
    padding: 1rem;
  }
  .quick-links li {
    margin-bottom: 0;
  }
  .quick-links ul {
    flex-direction: column;
  }
}

.email-link {
  position: relative;
  display: inline-block;
}

.email-link::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.email-link:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5sec ease;
}
.socialIcons a:hover {
  background: var(--main-color);
  color: var(--second-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* Theme Toggle Button */
.theme-toggle {
  position: fixed;
  top: 26px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: yellow;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
}

.theme-toggle i {
  font-size: 20px;
  color: rgb(3, 3, 38);
}

.theme-toggle .fa-moon {
  display: none;
}

/* Dark Mode Styles */

body.dark-mode .header {
  background-color: #1e1e1e;
}

body.dark-mode .theme-toggle {
  background-color: #ffffff;
}

body.dark-mode .theme-toggle .fa-sun {
  display: none;
}

body.dark-mode .theme-toggle .fa-moon {
  display: inline;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.dark-theme .header,
body.dark-theme .footer,
body.dark-theme .navbar {
  background-color: black;
}

body.dark-theme .theme-toggle {
  background-color: rgb(3, 3, 38);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

body.dark-theme .theme-toggle .fa-sun {
  display: none;
}

body.dark-theme .theme-toggle .fa-moon {
  display: inline;
  color: #f1c40f;
}

body.dark-theme .navbar a {
  color: #f1c40f !important; /* Ensure the color is applied */
}

@media screen and (max-width: 1216px) {
  .theme-toggle {
    margin-top: 10rem; /* Ensure theme toggle is below the menu icon */
  }
}

body.dark-theme .faq .accordion-container {
  background-color: #1e1e1e;
  border: 1px solid #444;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

body.dark-theme .faq .accordion {
  border: 1px solid #444;
}

body.dark-theme .faq .accordion-header {
  background-color: #333;
  color: white;
}

body.dark-theme .faq .accordion-header:hover {
  background-color: #444;
}

body.dark-theme .faq .accordion-header h3 {
  color: white;
}

body.dark-theme .logo {
  color: #b19222;
}

body.dark-theme .faq .accordion-body {
  background-color: #1e1e1e;
  color: #ccc;
}
.socialIcons #mail:hover {
  background: #bd4b39;
}
#mail:hover i {
  color: white;
}
.socialIcons #inst:hover {
  background: linear-gradient(45deg, #833ab4, #e1306c, #fd1d1d, #fdcb5d);
}
#inst:hover i {
  color: white;
}
.socialIcons #twit:hover {
  background: black;
}
#twit:hover i {
  color: white;
}
.socialIcons #fb:hover {
  background: #1877f2;
}
#fb:hover i {
  color: white;
}
