nav{
  margin-right: 90px;
}
.logo {
  margin-right: 100px;
}

.container {
  margin-top: 100px;
}

#contributor {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
.heroes {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 25px;
  font-size: 45px;
  color: var(--light);
  text-align: center;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

h1:hover {
  color: var(--primary);
}

#contributor {
  margin: 0;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  width: 90%;
}

.placeholder {
  width: 95px;
  height: 95px;
  background-color: #ccc;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 0.7s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

div {
  display: block;
}

.contributor-card:nth-child(4n + 1),
.contributor-card:nth-child(4n + 3) {
  margin-top: -4px;
}

.contributor-card {
  width: 95px;
  height: 95px;
  clip-path: polygon(50% 0%, 91% 25%, 91% 75%, 50% 100%, 9% 75%, 9% 25%);
  margin: 9px;
  overflow: hidden; /* Ensure images don't overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.contributor-card:hover{
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(253, 251, 251, 0.5);
}
.contributor-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the image covers the container */
  transition: transform 0.3s ease-in-out;
}
.contributor-card:active img {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0 0 20px rgb(188, 240, 210);
}
.login-btn{
  margin-top: 0px;
}
