/* Header Hero Section */

.logo h3 {
  font-size: 2.6rem;
  margin-right: 30px;
}

.header-hero {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-hero .container {
  position: relative;
}

.header-hero .header-hero-content {
  position: relative;
  color: #fff;
}

.header-hero .header-hero-image {
  margin-top: 50px;
}

/* Heading Text Sizes */
.header-sub-title {
  font-size: 2rem; 
  font-weight: 500;
}

.header-title {
  font-size: 4rem; 
  font-weight: 700;
}

.text {
  font-size: 1.25rem; 
  font-weight: 400;
}

.main-btn {
  font-size: 1.125rem; 
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-btn:hover {
  background-color: #000;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.text-center {
  text-align: center;
}

.text-3xl {
  font-size: 2.5rem;
}

.font-semibold {
  font-weight: 600;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.gap-8 {
  gap: 2rem;
}

.contributors {
  padding-top: 10px; 
}

.contributor-card {
  width: 100%;
  max-width: calc(25% - 16px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
  margin-bottom: 16px; 
  font-size: 13px;
}

.contributor-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.contributor-card img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.contributor-card .name {
  font-size: 1.5rem; 
  font-weight: 600;
  margin-bottom: 8px;
}

.contributor-card .contributions,
.contributor-card .github {
  font-size: 1rem;
  color: #4a5568;
}

.text-lg {
  font-size: 1.6rem;
}

.text-gray-900 {
  color: #1a202c;
}

.text-gray-100 {
  color: #f7fafc;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.text-gray-700 {
  color: #4a5568;
}

.text-gray-400 {
  color: #cbd5e0;
}

.flex-center {
  display: flex;
  align-items: center;
}

.mr-1 {
  margin-right: 0.25rem;
}

.bg_cover {
  background-size: cover;
  background-position: center;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {

  .contributor-card {
    max-width: calc(33.333% - 16px); 
  }
}

@media (max-width: 768px) {  
  .contributor-card {
    max-width: calc(50% - 16px); 
  }
}

@media (max-width: 480px) {
  .contributor-card {
    max-width: calc(100% - 100px); 
  }
}
